
$main-font: "Open Sans", sans-serif;


$main-color:              #606060;
$header-color:            #292929;
$main-menu-link-color:    #fff;
$main-menu-link__hover:   #58c93a;
$link-color:              #339933;
$article-full-link-color: #c2c1c1;
$pag-link-color:          #818181;
$form-text-color:         #b9b9b9;
$menu-border-color:       #1d1d1d;
$gray-border:             #e1e0e0;
$light-gray:              #f8f8f8;


$html-size-base: 10px;
$font-size: 1.6rem;

$html-height-base: 10px;
$height-base: 1.6rem;